extends ../layout

block content
  h1 #{title}: #{author.name}
  p= author.lifespan
  if authorBooks.length
    p #[strong #{t('home.deleteTheFollowingBooksBeforeAttemptingToDeleteThisAuthor')}]
    div.mx-5
      h4 #{t('home.book')}
      dl
        each book in authorBooks
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
  else
    p #{t('home.doYouReallyWantToDeleteThisAuthor')}
    form(method='POST' action=`/author/${author.id}/delete`)
      input(type='hidden' name='_method' value='DELETE')
      button.btn.btn-primary(type='submit') Delete
