extends ../layout

block content
  h1 #{t('home.genre')}: #{genre.name}

  .ml-3.mt-3
    h4.mb-3 #{t('home.book')}
    each book in books 
     div 
      a(href=`/book/${book.id}`) #[strong #{book.title}]
      p #{book.summary}
    else 
      p #{t('home.noBooks')}

  hr
  p
    a(href=`/genre/${genre.id}/update`) #{t(home.updateGenre)}
  p
    a(href=`/genre/${genre.id}/delete`) #{t(home.deleteGenre)}
