extends ../layout

block content
  h1 #{t('home.bookInstanceList')}
  if bookInstances.length
    ul
      each bookInstance in bookInstances
        li
          a(href=`/bookInstance/${bookInstance.id}`)= bookInstance.book.title
          | : #{bookInstance.imprint} - 
          if bookInstance.status === bookInstanceStatus.Available
            span(class='text-green') #{bookInstance.status} 
          if bookInstance.status === bookInstanceStatus.Loaned
            span(class='text-yellow') #{bookInstance.status} 
          if bookInstance.status === bookInstanceStatus.Maintenance
            span(class='text-red') #{bookInstance.status} 
          |(#{bookInstance.dueBack})
  else
    p #{t('home.noBookInstance')}
