extends ../layout

block content
  h1 #{t('home.author')}: #{author.name}

  p #{author.dateOfBirth} - #{author.dateOfDeath}
  .ml-3.mt-3
    h4.mb-3 #{t('home.book')}
    each book in books 
     div 
      a(href=`/genre/${val.id}`) #{val.name}
      p #{book.summary}
  hr
  p
    a(href=`/book/${book.id}/update`) #{t('home.updateBook')}
  p
    a(href=`/book/${book.id}/delete`) #{t('home.deleteBook')}
